@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto');
body{
  width:95vw;
  height:95vh;
  background-color:#00FFFF
}
.container{
   height:100%;
   width:100%;
   color:yellow;
   font-family:'Roboto',sans-serif;
   font-family:'Pacifico',cursive ;
   text-align:center;
   
}
.oneblock{
  font:30px;
  background-color:#b2557d;
  height:30%;
  width:50%;
  display:inline-block;
  float:left;
}
.twoblock{
  font:30px;
  background-color:red;
  width:50%;
  height:30%;
  display:inline-block;
  float:right;
  
}
.threeblock{
  font:30px;
  background-color:blue;
  display:inline-block;
  height:30%;
  width:50%;
  float:left;
  
}
.fourblock{
  font:30px;
  background-color:green;
  height:30%;
  width:50%;
  display:inline-block;
  float:right;
}
.fiveblock{
  font:30px;
  background-color:purple;
  width:50%;
  height:30%;
  display:inline-block;
  float:left;
}
.sixblock{
  font:30px;
  background-color:#7FFF00;
  height:30%;
  width:50%;
  float:right;
}
